.text-center{
  font-size: 70px;
  font-family:font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  text-align: center!important;
  padding-bottom: .5rem!important;
  padding-top: .5rem!important;

}

body, html {
  height: 100%;
  margin: 0;

}
body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  height: 80px;
  background-color: #0005;
  line-height: 80px;
}

nav ul{
  float: right;
  margin: 0;
  margin-right: 1.9rem;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 20px;
}
img {
  width: 10%;
}

nav ul li:hover{
  background-color: #ff4d4d;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}

.c1 h3, h4{
  padding-bottom: 1rem;
  text-align: center;
  font-family: font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  padding-left: 20%;
  padding-right: 20%;
}

.c1 h3{
  font-size: 40px;
}

.c1 h4{
  font-size: 30px;
}

.c2 h5,p{
  font-family: font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.c2{
  padding-bottom: 5%;
}
